.box{
    margin-top: 50px;
    margin-left: 40px;
}

.input{
    padding: 15px;
    width: 500px;
    border: 2px solid #74737342;
    border-right: none;
    
}

.input:hover,
.input:focus {
    border: 2px solid #74737342;
}

.btn{
    padding: 15px;
    border: 2px solid #74737342;
    border-left: none;
    background-color: white;
    cursor: pointer;
}

.btn:hover,
.btn:focus{
    background-color: rgba(96, 172, 172, 0.74);
}