 /* .header {
    display: flex;
    background-color: #282c34;
    padding: 10px;
    color: white;
    text-align: center;
}

.title {
    font-size: 1.5em;
    display: flex;
    margin: 5px 0;
}

.logo{
    display: flex;
    width: 180px;
    height: 80px;
    margin-left: 30px;
}

.headerBox{
    position: relative;
    top: 0;
    left: 0;
}  */

.header {
    display: flex;
    background-color: #282c34;
    padding: 10px;
    color: white;
    /* text-align: center; */
}

.title {
    font-size: 1.5em;
    display: flex;
    margin: 5px 0;
}

.logo {
    display: flex;
    width: 180px;
    height: 80px;
    margin-right: auto;
    margin-left: 30px;
}

.headerBox {
    position: relative;
    top: 0;
    left: 0;
}